# Parallel credentials
PARALLEL_API_KEY="your_parallel_api_key"

# ClickHouse credentials
CLICKHOUSE_USERNAME="your_clickhouse_username"
CLICKHOUSE_PASSWORD="your_clickhouse_password"
CLICKHOUSE_HOST="clickhouse_host_url"
CLICKHOUSE_PORT="clickhouse_host_port_number"
CLICKHOUSE_ALLOW_WRITE_ACCESS="true"

# GCP credentials
GOOGLE_APPLICATION_CREDENTIALS="path_to_the_service_account_json"
GOOGLE_CLOUD_PROJECT="gcloud_project_id"
GOOGLE_CLOUD_LOCATION="gcloud_project_location"
